*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 0 1px #0002;
}

ul, ol{
    list-style: none;
}

.btn{
    padding: .5rem 1.50rem;
    border-radius: calc(1% + 5px);
    background-color: #623bee;
    color: #fff;
    cursor: pointer;
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
    box-shadow: 0 0 0 0 #1c1335;
    user-select: none;
}

.btn:hover{
    transform: translateY(-5px) translateX(-2.5px);
    box-shadow: 2.5px 5px 0 0 #1c1335;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    min-height: 75px;
    border-bottom: #0002 2px solid;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 150;
}

.logo{
    font-size: 2em;
    font-weight: 700;
}

.navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.navbar-items > .navitem {
    font-size: 1.1em;
}

.content-container{
    min-height: 100dvh;
    min-height: 100vh;
}

.hero{
    min-height: 400px;
    display: grid;
    place-items: center;
    background-image: url("./hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content-wraper{
    backdrop-filter: blur(15px);
    padding: 1.5rem;
}

.hero-title{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -.03em;
    line-height: 1em;
    mix-blend-mode: multiply;
    color: #141414;
}

.sub-hero{
    margin-top: 1.5rem;
    font-size: 1.1em;
    font-weight: 600;
}

.card-view{
    display: grid;
    place-items: center;
    min-height: 300px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.card{
    display: grid;
    place-items: center;
    gap: .5rem;
    width: 170px;
    height: 200px;
    text-align: center;
    padding: 2rem;
    background-color: rgba(95, 112, 209, 0.133);
    border-bottom: solid 10px #623bee;
    --duration : 100ms;
    --scale:5px;
    transition:
        border var(--duration) ease-in-out,
        height var(--duration) ease-in-out,
        transform var(--duration) ease-in-out;
    cursor: pointer;
}

.card:hover{
    border-bottom: solid calc(10px + var(--scale)) #623bee;
    height: calc(200px + var(--scale));
    transform: translateY(calc(0px - calc(var(--scale) / 2)));
}

.text-container{
    display: grid;
    place-items: center;
    padding: 0 2rem;
}

.text{
    max-width: 756px;
}

h2{
    margin: 1rem 0;
    color:#623bee;
}

p{
    line-height: 150%;
    letter-spacing: .02em;
    font-size: 1.05em;
}

footer{
    display: grid;
    place-items: center;
    background-color: #333;
    color: #fff;
    min-height: 75px;
    font-weight: 300;
    margin-top: 3rem;
}